
{% extends "firstPage/base.html" %}
{% load static %}
{% block title %}
	Assignment
{% endblock %}
{% block body %}

<div class="jumbotron jumbotron-fluid vertical-center">
		<div class="container">
				{% for assignment in assignments %}
				<div class="row align-items-center">
						<div class="col-md-12">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<th class="text-left">Assigned By: {{ assignment.assignedBy }}</th>
											<th class="text-left">Assigned To: {{ assignment.assignedTo }}</th>
											<td class="text-right">Assigned On: {{ assignment.createdDate }}</td>
										</tr>
										<tr>
											<th colspan="3" class="text-left">Assignment Comments: <br>{{ assignment.comment }}</th>
										</tr>
										<tr>
											<th colspan="3" class="text-left">
												{% if assignment.attachments %}
													Attachments: <a href="{{ assignment.attachments.url }}">{{ assignment.attachments.name }}</a>
												{% else %}
													Attachments: No attachments
												{% endif %}
											</th>
										<tr>
									</tbody>
								</table>
						</div>
				</div>
				{% endfor %}
				<div class="pagination">
						<span class="step-links">
								{% if page_obj.has_previous %}
										<a href="?page=1">&laquo; first</a>
										<a href="?page={{ page_obj.previous_page_number }}">previous</a>
								{% endif %}

								<span class="current">
										Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
								</span>

								{% if page_obj.has_next %}
										<a href="?page={{ page_obj.next_page_number }}">next</a>
										<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
								{% endif %}
						</span>
				</div>
		</div>
</div>


{% endblock %}