
{% extends "firstPage/base.html" %}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
	User Page
{% endblock %}
{% block body %}

{% if message != "LogedIn" %}
<div id="wholeContainer">
  <div style="background:transparent !important" class="jumbotron jumbotron-fluid vertical-center">
      <div class="container register">
        <div class="row">
            <div class="col-md-6 register-left">
                <div style="background:transparent !important" class="jumbotron">
                    <h1 class="text-left text-white">The #1 software development tool used by agile teams</h1>
                    <ul class="text-left text-white">
                        <li>Full access to all features</li>
                        <li>Zero obligation, no credit card needed</li>
                        <li>Add unlimited users</li>
                        <li>Access to sales and technical support</li>
                        <li>Test drive with 7-day free trial</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 register-right">
                <div class="container signUpForm">
                    <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          <div class="form-group">
                              {{field}}
                          </div>
                        </p>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                    <p>Already have an account! <a href = {% url 'login' %}>Login here</a></p>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

{% else %}

<h4 class="text-left lead">
Hi <span class="text-left text-capitalize lead">{{user.first_name}}</span>, Here is your tickets
</h4>

<br>
<!-------------------------------------------------------------------------->
<form method="GET">
  <table>
  {% for field in filter.form %}
      <tr class="table table-borderless">
          <td>{{ field.label_tag }}</td>
          <td>{{ field }}</td>
      </tr>
  {% endfor %}
  </table>
  <button type="submit" class="btn btn-primary">Search</button>
</form>


<br>

<script>
$(function () {
    $('table.table tr').click(function () {
        var myVal = $(this).attr("data-id");
        window.location.href = "/" + myVal;
    });
})
</script>



 {% render_table table %}

<!-------------------------------------------------------------------------->
{% endif %}

{% endblock %}