{% extends "firstPage/base.html" %}
{% block title %}
	Login Page
{% endblock %}
{% block body %}
	<!--
	<form action="{% url 'login' %}" method="POST">
		{% csrf_token %}
		<input name="username" type="text">
		<input name="password" type="password">
		<input type="submit" value="Login">
	</form>
-->
<div class="jumbotron jumbotron-fluid vertical-center">
		<div class="container loginPage">
				<div class="row align-items-center">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
								<p>Login here</p>
								{% if form.errors %}
										<p>Your username and password didn't match. Please try again.</p>
								{% endif %}
								<form action="{% url 'login' %}" method="POST">
								{% csrf_token %}
									<div class="form-group">
										<input type="text" class="form-control" name="username" placeholder="Username">
									</div>
									<br>
									<div class="form-group">
										<input type="password" class="form-control" name="password" placeholder="Password">
									</div>
									<p>Lost password? <a href="{% url 'password_reset' %}">Click here</a> to reset</p>
									<br>
									<button type="submit" class="btn btn-primary" style="width:100%">Login</button>
									<input type="hidden" name="next" value="{{ next }}">
								</form>
								<br>
								<p> Don't have an account <a href = {% url 'signup' %}>Create one</a></p>
						</div>
						<div class="col-md-4">
						</div>
				</div>
		</div>
</div>

{% endblock %}