{% extends "firstPage/base.html" %}
{% block title %}
	Logout Page
{% endblock %}
{% block body %}
<div class="jumbotron jumbotron-fluid vertical-center">
		<div class="container">
				<div class="row align-items-center">
						<div class="col-md-4">
						</div>
						{% if message %}
								<div class="col-md-4">
									<p>{{ message }}</p>
								</div>
						{% endif %}
						<div class="col-md-4">
						</div>
				</div>
				<div class="row align-items-center">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
						<p><a href = {% url 'login' %}>Click here </a>to login</p>
						</div>
						<div class="col-md-4">
						</div>
				</div>
		</div>
</div>

<!--
		<form action="{% url 'login' %}" method="POST">
			{% csrf_token %}
			<input name="username" type="text">
			<input name="password" type="password">
			<input type="submit" value="Login">
		</form>
-->
{% endblock %}