
{% extends "firstPage/base.html" %}
{% load bootstrap %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
	Sign-Up
{% endblock %}
{% block body %}


<div id="wholeContainer">
  <div style="background:transparent !important" class="jumbotron jumbotron-fluid vertical-center">
      <div class="container register">
        <div class="row">
            <div class="col-md-6 register-left">
                <div style="background:transparent !important" class="jumbotron">
                    <h1 class="text-left text-white">The #1 software development tool used by agile teams</h1>
                    <ul class="text-left text-white">
                        <li>Full access to all features</li>
                        <li>Zero obligation, no credit card needed</li>
                        <li>Add unlimited users</li>
                        <li>Access to sales and technical support</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 register-right">
                <div class="container signUpForm">
                    <form method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <p>
                          <div class="form-group">
                              {{field}}
                          </div>
                        </p>
                      {% endfor %}
                      <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                    <p>Already have an account! <a href = {% url 'login' %}>Login here</a></p>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}