
{% extends "firstPage/base.html" %}
{% load static %}
{% block title %}
	AddUpdate
{% endblock %}
{% block body %}

<div class="jumbotron jumbotron-fluid vertical-center">
		<div class="container">
				<div class="row align-items-center">
						<div class="col-md-9">
								<form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for field in form %}
                    <p>
                      <div class="form-group">
                          {{field}}
                      </div>
                    </p>
                  {% endfor %}
                  <button type="submit" class="btn btn-primary">Add comment</button>
                </form>
						</div>
				</div>
		</div>
</div>

{% endblock %}