{% extends "registration/base.html" %}
{% load static %}
{% block title %}
	Sign-Up
{% endblock %}
{% block body %}
		<div class="jumbotron jumbotron-fluid vertical-center">
		<div class="container loginPage">
				<div class="row align-items-center">
						<div class="col-md-4">
						</div>
						<div class="col-md-4">
								<p>Login here</p>
								{% if form.errors %}
										<p>Your username and password didn't match. Please try again.</p>
								{% endif %}
								<form action={% url 'registration:login' %} method="POST">
								{% csrf_token %}
									<div class="form-group">
										<input type="text" class="form-control" name="username" placeholder="Username">
									</div>
									<br>
									<div class="form-group">
										<input type="password" class="form-control" name="password" placeholder="Password">
									</div>
									<p>Lost password? <a href= {% url 'registration:password_reset' %}>Click here</a> to reset</p>
									<br>
									<button type="submit" class="btn btn-primary" style="width:100%">Login</button>
									<input type="hidden" name="next" value="{{ next }}">
								</form>
								<br>
								<p> Don't have an account <a href = {% url 'registration:regsignup' %}>Create one</a></p>
						</div>
						<div class="col-md-4">
						</div>
				</div>
		</div>
{% endblock %}